.hedear{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    color: aliceblue;
    background-color: rgb(11, 16, 16);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color:white;
}
.h2{
    text-align: right;
    padding: 10px ;
    filter: drop-shadow(4px 5px 9px);   
}
.section{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 40px;
    gap: 40px;
    align-items: flex-start;

}
.product{
    text-align: center;
} 
.p{
    text-decoration: line-through;
}
.h3{
    text-align: right;
    padding: 10px;
    filter: drop-shadow(4px 5px 8px);
}
.section2{
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 40px;
    flex-wrap: wrap;
    gap: 40px;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
    background-color:rgb(255, 252, 252);
}
.main-menu a{
    text-decoration: none;
    margin: 0 9px;
}
.main-menu :hover{
    color: rgb(218, 43, 58);
}
.menu-right{
    text-align: right;
}
.product:hover{
    color: rgba(229, 35, 44, 0.818);
}
.product2:hover{
    color: rgb(199, 54, 54);
}
.h4{
    text-align: right;
    background-color: black;
    color: white;
    padding: 15px 10px ;
}